// CONTAINER
$container-max-width: 100%;
$container-width: 1010px;

// BREAKPOINT MEDIA
$xxs: 576px;
$xs: 767px;
$md: 991px;
$lg: 1024px;

//COLOR FOR PROJECT
$whiteBasic: #FFFFFF;
$whiteText: #FFF;
$grayText: #B0B0B0;
$titleSection: #B6ADA5;
$mainGray: #555759;
$mainOrange: #c79358;

//TIME
$t: 0.4s;

