@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

#gallery__section {
    position: relative;

    .title__hero {
        font-family: FreightBig Pro;
        font-size: 76px;
        font-style: normal;
        font-weight: 400;
        line-height: 82px;
        color: $whiteText;
        margin-top: 84px;
    }

    a {
        color: $whiteText;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
        @include flex-center;
        gap: 1rem;
    }
    .button__next{
        span{
            transform: rotate(-180deg);
        }
    }
    .navigator{
        width: -webkit-fill-available;
        .arrow__pre {
            bottom: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}
